@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #ffffff;
}

.font-display {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::selection {
  background-color: #0052ff;
  color: #ffffff;
}
